.input-validate {
  inline-size: 280px;
  font-size: 0.75rem;
  padding-block: 0.5rem;
  padding-inline: 0;
  border: none;
  border-block-end-width: 2px;
  border-block-end-style: solid;
  border-block-end-color: var(--blue-color);
  outline: none;
}
.not-valid {
  border-block-end-color: var(--red-color);
}

.container {
  display: flex;
  flex-direction: column;
}

.error {
  user-select: none;
  font-size: 0.6rem;
  color: var(--red-color);
}

.error:not(:empty) {
  margin-block-start: 0.5rem;
}

.label {
  font-weight: 500;
  font-size: 0.6rem;
  color: var(--gray-color);
}