@import url("../../../style.css");

.button {
  font-family: 'Inter';
  color: var(--white-color);
  background-color: var(--blue-color);
  width: 280px;
  height: 37px;
  border-radius: 8px;
  border: 0;
}