.button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-color);
  inline-size: 280px;
  padding-block: 0.75rem;
  border-radius: 8px;
  border: 0;
  transition: var(--base-transition);

  &:hover {
    background-color: #390dd7;
  }

  &:active {
    background-color: #300cb2;
  }
}

.button-active {
  border: none;
  background-color: transparent;
  color: var(--blue-color);
  font-size: 1rem;
  margin-block-start: 0.75rem;
  cursor: pointer;
}