.container-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-profile:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.input-profile {
  font-size: 1rem;
  color: #000000;
  background-color: #fff;
  border: 0;
  outline: none;
  text-align: right;
  padding: 10px;
}

.error {
  user-select: none;
  font-size: 0.6rem;
  color: var(--red-color);
}